[MESSAGES CONTROL]

# Following warnings are globally disabled, please do not add more.
# unnecessary-lambda-assignment / C3001
# import-error / E0401
# too-many-locals / R0914
# too-few-public-methods / R0903

disable=C3001,E0401,R0914,R0903

min-similarity-lines=8

[Format]
good-names=i,j,k,e,_,x,y,df,f,lb,ub

[MAIN]
max-line-length=121

[DESIGN]
max-args=10
max-attributes=10
