[MESSAGES CONTROL]

# Disable the message, report, category or checker with the given id(s). You
# can either give multiple identifier separated by comma (,) or put this option
# multiple time (only on the command line, not in the configuration file where
# it should appear only once).
disable=W0212,R0903,C0301

[Format]

good-names=i,j,k,e,ex,_,pk,x,y,df,f,d,a,b,c,lb,ub